* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: url('../../assets/wallpaper.jpg');
  background-size: cover;
  font-family: 'Montserrat';
}
header {
  text-align: center;
  padding: 25pt;
  background: linear-gradient(60deg, #fe1b75, #ff5570, #ffce35, #feaf80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  .time {
    padding: 7.5pt;
  }
  .date {
    font-size: 12pt;
    font-weight: 300;
    text-transform: uppercase;
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 20pt;
  background: #111;
  color: #eee;
  width: 100%;
  display: flex;
  align-items: center;
  div {
    display: inline-block;
  }
  section {
    width: 50vw;
  }
  .right {
    text-align: right;
  }
}
